{% load static %}
<html>
 <head>
  <meta charset="utf-8">
  <title>Визуализация</title>
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
 </head>

 <header>
  <center><h1>Визуализация графика</h1></center>
 </header>

 <body>
 <center>
  <table border="1">
   <caption>Таблица значений</caption>
    <tr><th style='padding:0 10px 0 10px;'>x</th>{% for table_field in table_fields %}<td>{{table_field.x}}</td>{%endfor%}</tr>
    <tr><th style='padding:0 10px 0 10px;'>y</th>{% for table_field in table_fields %}<td>{{table_field.y}}</td>{%endfor%}</tr>  
  </table>
 </center>

<center>
 <canvas id="myChart" width="100" height="100"></canvas>
</center>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var x = [];
var y = [];
	{% for table_field in table_fields %}
		x.push({{table_field.x}});
		y.push({{table_field.y}});
		
	{%endfor%}
console.log(x);
console.log(y);

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: x,
        datasets: [{
            label: 'X2',
            data: y,
	    backgroundColor: 'white',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

 </body>
</html>

